
.app{
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app__body{
   background-color: #ededed; 
   height: 97vh;
   width: 97vw;
   display: flex;
   margin-top: -10px;
   box-shadow: -2px 4px 20px -9px rgba(0,0,0, .75);
}