
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header__left{
    flex: 0.5;
    display: flex;
    min-width: 100px;
    max-width: 270px;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    color: grey;
    border-radius: 30px;
}

.header__left > input{
    border: none;
    width: 100%;
    outline: none;
}


.header__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right > h4{
    margin-left: 10px;
}