/* .scrollContainer::-webkit-scrollbar {
  background:  'red' !important;
} */

.scrollContainer{
  
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color:  '#000000';
   
}

.scrollContainer::-webkit-scrollbar-button {
  display: none;
}

.scrollContainer::-webkit-scrollbar-track {
  display: none;
}

  .scrollContainer::-webkit-scrollbar:horizontal {
    height: 12px !important;
    
  }
