
.buttonGeneric{
    font-family: inherit;
    font-size: .86rem;
    padding: 4px;
    padding-bottom: 6px;
    white-space: nowrap;
    border-radius: 2px;
    border: 1px solid;
    cursor: pointer;
    outline: none;
}

.buttonGeneric--light{
    background-image: linear-gradient(to bottom, rgba(240, 198, 92, 0.43) , rgb(236, 190, 72) 85% );
    border-color: #a88734 #9c7e31 #846a29;
}

.buttonGeneric--light:hover{
    background-image: linear-gradient(to bottom, rgba(233, 176, 31, 0.43) , rgb(230, 180, 56) 85% );
}