.carouselHorizontal {
  background-color: white;
  padding: 1.1rem 0 0.6rem 0;
  margin-bottom: 1.3rem;
}

.carouselHorizontal__title {
  padding-left: 1.3rem;
  display: inline-block;
  margin-right: 1.1rem;
  margin-bottom: 0.8rem;
  font-weight: 400;
  color: #444;
  font-size: 22px;
}

.carouselArrow__container {
 
  padding: 2rem 0.9rem;
  z-index: 10;
  border-top: 1px solid rgb(228, 228, 228);
  cursor: pointer;
  color: rgb(172, 172, 172);
}

.carouselArrow__container:hover {
  color: rgb(155, 153, 153);
}

.carouselArrow__container--left {
  box-shadow: 1px 1px 3px -1px #888;

}

.carouselArrow__container--right {
  box-shadow: -1px 1px 3px -1px #888;
}

.carouselArrow {
  font-size: 2.3rem;

  cursor: pointer;
}

/* Los siguientes estilos es propio de la libreria react-horizontal-scrolling-menu */
.horizontal-menu {
  padding: 0 1.3rem !important;
}

.menu-wrapper {
  overflow: scroll !important;
}

.menu-wrapper--inner {
  margin-bottom: 1rem !important;

 /*  transform: translateX(0%) !important; */
}

.menu-wrapper::-webkit-scrollbar {
  appearance: none !important;
 
}

.menu-wrapper::-webkit-scrollbar:horizontal {
  height: 6px !important;
}

.menu-wrapper::-webkit-scrollbar-thumb {
  background-color: #a2a2a2;
  border-radius: 20px !important;
}

.scroll-menu-arrow {
    position: absolute;
    z-index: 10;
    background-color: white;
}

.scroll-menu-arrow:last-of-type {
    right: 3rem;
}

.menu-wrapper--inner {
  /* transform: translate3d(0px, 0px, 0px) !important; */
  padding: 0 !important;
}
