.auth-page{
   display: flex;
  /*  align-items: stretch; */
}

.halfScreen{
    background: #1fb6ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* flex-grow: 1; */
    height: 100vh;
}

.leftScreen{
    background: #1fb6ff;
}

.great-title{
    font-size: 2em;
    color: #000;
    font-family: sans-serif;
    font-weight: normal;
    margin: 0;
    margin-bottom: .3em;
}

.slogan{
    color: #fff;
    margin: 0;
}

.rightScreen{
   background: #f4f7f6;
}