
.home{
    --penetrator: 50%;
}

.home__banner{
    position: relative;
}

.home__banner:after{
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: var(--penetrator);
    background-image: 
    linear-gradient(to bottom,rgba(255, 255, 255,0) 0% 
    , rgba(234, 237, 237, 1) 100%);
}



.home__container{
    margin-left: 1.2rem;
    margin-right: 1.3rem;
}

.home__categoriesCards{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  /*   margin-bottom: 4rem; */
}

.home__categoriesCards--top{
    margin-top: -23%;
    position: relative;
    z-index: 10;
}

.arrow{
    position: absolute; 
    top: calc(24% - 2rem);
    z-index: 10;
    font-size: 2rem;
    cursor: pointer;
    color: #474747;
}

.arrow--left{
   left: 1.5rem;
}

.arrow--right{
    right: 1.5rem;
 }

 .serviceItem{
     width: 200px;
     height: 200px;
     object-fit: contain;
 }

 .carouselFast__titleContainer{
     background-color: white;
     padding-top: 1rem;
     padding-left: 1rem;
 }

 .carouselFast__title{
     display: inline-block;
     margin-right: 1.3rem;
     margin-bottom: .7rem;
     color: #444;
     font-weight: 400;
     font-size: 21px;
 }

 .carouselFast{
     margin-bottom: 1.3rem;
  
 }



 @media (max-width: 730px){
    .home__categoriesCards{
        justify-content: center;
    }

    .banner__slideImage{
        width: 80vw;
        height: 30vh;
        object-fit: cover;
    }
}


