

.checkoutProduct{
    display: flex;
    margin: 60px;
}

.checkoutProduct__info{
    margin-left: 15px;
}

.checkoutProduct__image{
    width: 130px;
    height: 180px;
    object-fit: contain;
}

.checkoutProduct__title{
    font-weight: 800;
}

.checkoutProduct__rating{
    display: flex;
    margin-bottom: 15px;
}

@import '../../App.scss';

.checkoutProduct__info > button{
    @include amazonButton;     
    color: #111;
}