
.banner{
    color: white;
    height: 448px;
    width: 100%
}

.banner_contents{
    padding-top: 140px;
    margin-left: 30px;
    height: 190px;
}

.banner__title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner__buttons{

}

.banner__button{

}

.banner__description{
    width: 45rem;
    line-height: 1.3rem;
    font-size: .8rem;
    padding-top: 1rem;
    max-width: 360px;
    max-height: 80px;
}

.banner--fadeBottom{
    height: 7.4rem;
    background-image: 
    linear-gradient(to bottom, transparent, 
    rgba(37,37,37,0.61),#111);
}