
.banner{
    color: white;
    height: 480px;
    width: 100%;
    position: relative;
}

.banner_contents{
    padding-top: 180px;
    margin-left: 30px;
    height: 190px;
}

.banner__title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner__buttons{
    
}

.banner__button{
    margin-right: 15px;
    padding: .7rem 2rem;
    font-weight: 600;
    outline: none;
    border: 0;
    color: white;
    background-color: rgba(46, 46, 46, 0.7);
}

.banner__button:hover{
    background-color: rgba(150, 150, 150, .5);
    /* color: #111; */
    cursor: pointer;
}

.banner__button:active{
    background-color: rgba(150, 150, 150, .6);
}

.banner__description{
    width: 45rem;
    line-height: 1.3rem;
    font-size: .8rem;
    padding-top: 1rem;
    max-width: 360px;
    max-height: 80px;
}

.banner--fadeBottom{
    height: 7.4rem;
    background: 
    linear-gradient(to bottom, transparent, 
    rgba(37,37,37,0.61),#111);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}